<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://amez-control-tiempos.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>amez-control-tiempos.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>amez-control-tiempos</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$amez-control-tiempos</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ControlTiemposDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=sci-scorpion.cloudapp.net;Initial Catalog=ControlTiempos;Persist Security Info=True;User ID=Amez;Password=PruebA01" Name="data source=sci-scorpion.cloudapp.net;initial catalog=ControlTiempos;persist security info=True;user id=Amez;password=PruebA01;multipleactiveresultsets=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Amezquita.ControlTiempos.Infraestructura.Datos.ControlTiemposDbContext, Amezquita.ControlTiempos" MigrationConfiguration="Amezquita.ControlTiempos.Migrations.Configuration, Amezquita.ControlTiempos" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ControlTiemposDbContext-Web.config Connection String">
      <ParameterValue>data source=sci-scorpion.cloudapp.net;initial catalog=ControlTiempos;persist security info=True;user id=Amez;password=PruebA01;multipleactiveresultsets=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>