@{ ViewBag.Title = "Áreas";}
<div class="panel panel-default">
    <div class="panel-heading">@ViewBag.Title</div>
    <div class="panel-body">
        @Html.Partial("_CrearOEditar")
        <hr />
        @Html.Partial("_Listar")
    </div>
</div>
@section Scripts
{
    <script>
        var apiUrl = '@Url.Action("Index", "Areas", new { Area = "Administracion" })';
    </script>
    <script src="~/Areas/Administracion/Features/Areas/AreasViewModel.js"></script>
}